@charset "UTF-8";
* {
  box-sizing: border-box; }

@font-face {
  src: url(../public/assets/fonts/FuturaStd-Condensed.otf);
  font-family: FuturaStd-Condensed; }

@font-face {
  src: url(../public/assets/fonts/Futura-Std-Medium-Condensed.otf);
  font-family: Futura-Std-Medium; }

@font-face {
  src: url(../public/assets/fonts/Futura-Std-Bold-Condensed.otf);
  font-family: FuturaStd-Bold-Condensed; }

@font-face {
  src: url(../public/assets/fonts/OpenSans-Regular.ttf);
  font-family: OpenSans-Regular; }

@font-face {
  src: url(../public/assets/fonts/OpenSans-Italic.ttf);
  font-family: OpenSans-Italic; }

h2, h3 {
  font-family: FuturaStd-Bold-Condensed; }

h4 {
  font-family: Futura-Std-Medium;
  color: #55BBBB; }

p {
  font-family: OpenSans-Regular; }

header {
  font-family: OpenSans-Italic; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: white; }

.anchor {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none; }
  .anchor li {
    margin-bottom: 10px;
    margin-right: 20px; }

.button {
  background-image: url(../public/assets/img/button-hover.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 70%;
  background-color: #202F3C;
  padding: 3px 20px;
  line-height: 27px;
  border: 2px solid #55BBBB;
  color: white;
  font-size: 14px; }

.button:hover {
  background-color: #55BBBB; }

.hr-line {
  width: 140px;
  height: 2px;
  background-color: #55BBBB;
  position: absolute;
  left: 0; }

/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .anchor {
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%); }
  .anchor {
    right: 50px; }
    .anchor li {
      margin-bottom: 30px; } }

#intro {
  background-image: url(../public/assets/img/intro-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  font-family: FuturaStd-Condensed;
  position: relative; }
  #intro .button-wrapper {
    text-align: right;
    padding-top: 20px;
    padding-right: 15px; }
  #intro #logo {
    display: flex;
    justify-content: center; }
    #intro #logo a {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 70%;
      text-align: center; }
  #intro .intro-contact {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 0 15px;
    text-align: center;
    color: white;
    font-size: 18px; }
    #intro .intro-contact li:last-child {
      margin-top: 10px; }
    #intro .intro-contact .pulse {
      animation-name: pulse_animation;
      animation-duration: 3000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }

@keyframes pulse_animation {
  0% {
    transform: translateY(3px); }
  30% {
    transform: translateY(5px); }
  40% {
    transform: translateY(7px); }
  50% {
    transform: translateY(5px); }
  60% {
    transform: translateY(3px); }
  70% {
    transform: translateY(5px); }
  80% {
    transform: translateY(7px); }
  90% {
    transform: translateY(5px); }
  100% {
    transform: translateY(3px); } }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #intro .button {
    background-size: 75%;
    padding: 6px 30px;
    line-height: 39px;
    font-size: 15px; } }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #intro .button-wrapper {
    padding-top: 40px;
    padding-right: 70px; }
  #intro .button {
    background-size: 75%;
    padding: 8px 34px;
    line-height: 39px;
    font-size: 16px; }
  #intro .intro-contact {
    font-size: 20px; }
  #intro .intro-contact li:last-child {
    margin-top: 15px; } }

/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #intro .button-wrapper {
    padding-top: 50px;
    padding-right: 220px; }
  #intro #logo a {
    width: 100%; }
  #intro .intro-contact {
    font-size: 30px; }
  #intro .intro-contact li:last-child {
    margin-top: 50px; }
  #intro .anchor {
    right: 50px; }
    #intro .anchor li {
      margin-bottom: 30px; }
  #intro .button {
    background-size: 60%;
    padding: 16px 70px;
    line-height: 50px;
    font-size: 18px; } }

#about {
  position: relative;
  height: 100vh; }
  #about h2 {
    padding-top: 50px;
    margin-bottom: 15px;
    color: #2E5470;
    font-size: 26px; }
  #about h3 {
    color: #2E5470;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 26px; }
  #about p {
    color: #575C5F;
    font-size: 14px; }
  #about .about-us-img {
    display: none; }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #about .hr-line {
    width: 140px;
    height: 3px; } }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #about .hr-line {
    width: 160px; }
  #about .about-us-img {
    display: block;
    position: relative;
    top: -50px; }
  #about h2, #about h3 {
    font-size: 32px; } }

/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #about .hr-line {
    width: 240px;
    height: 4px; }
  #about h2, #about h3 {
    font-size: 50px; }
  #about h2 {
    padding-top: 100px;
    margin-bottom: 30px; }
  #about h3 {
    margin-top: 130px;
    margin-bottom: 50px; }
  #about p {
    font-size: 16px; } }

@media (min-width: 1600px) {
  #about .hr-line {
    width: 465px; } }

#portfolio {
  background-image: url(../public/assets/img/portfolio-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  #portfolio h2 {
    padding-top: 50px;
    margin-bottom: 15px;
    color: white;
    font-size: 26px; }
  #portfolio .hr-line {
    width: 180px; }
  #portfolio header {
    color: #55BBBB;
    margin-top: 70px;
    margin-bottom: 50px; }
    #portfolio header img {
      margin-bottom: 20px; }
  #portfolio p {
    color: white;
    font-size: 14px; }
  #portfolio h3 {
    color: white;
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    padding-top: 20px; }
  #portfolio .btn {
    padding: 3px 20px;
    line-height: 27px;
    border: 2px solid #55BBBB;
    color: white;
    font-size: 14px;
    border-radius: 0; }
    #portfolio .btn a {
      color: white;
      font-family: Futura-Std-Medium; }
  #portfolio .portfolio-article:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3); }
    #portfolio .portfolio-article:hover .btn {
      background-image: url(../public/assets/img/button-hover.png);
      background-repeat: no-repeat;
      background-position: left;
      background-size: 70%; }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #portfolio .hr-line {
    width: 200px;
    height: 3px; }
  #portfolio .portfolio-article {
    padding: 0 20px; } }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #portfolio .hr-line {
    width: 240px; }
  #portfolio .article-wrapper {
    margin-top: 50px; }
  #portfolio .portfolio-article {
    margin-bottom: 50px; }
  #portfolio h2, #portfolio h3 {
    font-size: 32px; }
  #portfolio p {
    font-size: 15px; } }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #portfolio .article-wrapper {
    margin-top: 70px; }
  #portfolio .portfolio-article {
    padding: 0 35px; } }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #portfolio h2 {
    padding-top: 100px; }
  #portfolio h2, #portfolio h3 {
    font-size: 50px; }
  #portfolio p {
    font-size: 16px; }
  #portfolio .hr-line {
    width: 360px;
    height: 4px; }
  #portfolio .article-wrapper {
    margin-top: 110px; } }

@media (min-width: 1600px) {
  #portfolio .hr-line {
    width: 580px; } }

#advisors {
  position: relative; }
  #advisors h2 {
    padding-top: 50px;
    margin-bottom: 15px;
    color: #2E5470;
    font-size: 26px; }
  #advisors h3 {
    color: #2E5470;
    font-size: 26px; }
  #advisors h3:first-of-type {
    margin: 50px 0; }
  #advisors h4 {
    margin-top: 20px;
    padding-left: 24px; }
  #advisors .hr-line {
    width: 170px; }
  #advisors .advisors-wrapper {
    margin-bottom: 30px;
    padding: 0 30px; }
  #advisors .advisors-list {
    list-style: none;
    color: #575B5F;
    padding-left: 30px; }
    #advisors .advisors-list li {
      font-family: OpenSans-Regular; }
    #advisors .advisors-list li::before {
      content: "•";
      color: #2E5470;
      position: relative;
      left: -8px;
      font-size: 20px; }
  #advisors .advisors-last {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #advisors .hr-line {
    width: 190px;
    height: 3px; }
  #advisors .advisors-wrapper {
    padding: 0; } }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #advisors h2, #advisors h3 {
    font-size: 32px; }
  #advisors .hr-line {
    width: 230px; } }

/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #advisors .hr-line {
    width: 340px;
    height: 4px; }
  #advisors h2, #advisors h3 {
    font-size: 50px; }
  #advisors h2 {
    padding-top: 100px; }
  #advisors h3:first-of-type {
    margin: 100px 0; }
  #advisors h4 {
    font-size: 30px; }
  #advisors .advisors-list li {
    font-size: 16px; } }

@media (min-width: 1600px) {
  #advisors .hr-line {
    width: 565px; } }

#investors {
  background-image: url(../public/assets/img/investitors-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh; }
  #investors h2 {
    padding-top: 50px;
    margin-bottom: 15px;
    color: white;
    font-size: 26px; }
  #investors .hr-line {
    width: 180px; }
  #investors h3 {
    color: white;
    font-size: 26px;
    margin-top: 50px;
    text-transform: uppercase; }
  #investors .investitors-wrapper {
    margin-top: 30px; }
    #investors .investitors-wrapper h4 {
      margin-bottom: 20px; }
  #investors .investors-article-wrapper {
    padding-left: 15px; }
  #investors .investors-article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
    margin-right: 20px; }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #investors .hr-line {
    width: 200px;
    height: 3px; } }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #investors .hr-line {
    width: 240px; }
  #investors h2, #investors h3 {
    font-size: 32px; }
  #investors h3 {
    margin-top: 70px; } }

/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #investors .hr-line {
    width: 360px;
    height: 4px; }
  #investors h2, #investors h3 {
    font-size: 50px; }
  #investors h2 {
    padding-top: 100px; } }

@media (min-width: 1600px) {
  #investors .hr-line {
    width: 580px; }
  #investors h3 {
    margin-top: 140px;
    margin-bottom: 50px; }
  #investors .investitors-wrapper {
    margin-top: 40px; }
  #investors .investors-article {
    margin-right: 30px; } }

/*# sourceMappingURL=application.css.map */
