* {
  box-sizing: border-box;
}
@font-face {
  src: url(../public/assets/fonts/FuturaStd-Condensed.otf);
  font-family: FuturaStd-Condensed;
}
@font-face {
  src: url(../public/assets/fonts/Futura-Std-Bold-Condensed.otf);
  font-family: FuturaStd-Bold-Condensed;
}
@font-face {
  src: url(../public/assets/fonts/OpenSans-Regular.ttf);
  font-family: OpenSans-Regular;
}
@font-face {
  src: url(../public/assets/fonts/OpenSans-Italic.ttf);
  font-family: OpenSans-Italic;
}
h2,h3 {
  font-family: FuturaStd-Bold-Condensed;
}
p {
  font-family: OpenSans-Regular;
}
header {
  font-family: OpenSans-Italic;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: white;
}
.anchor {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    margin-bottom: 10px;
    margin-right: 20px;
  }
}
.button {
  background-image: url(../public/assets/img/button-hover.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 70%;
  background-color: #202F3C;
  padding: 3px 20px;
  line-height: 27px;
  border: 2px solid #55BBBB;
  color: white;
  font-size: 14px;
}
.button:hover {
  background-color: #55BBBB;
}
.hr-line {
  width: 140px;
  height: 2px;
  background-color: #55BBBB;
  position: absolute;
  left: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .anchor {
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .anchor {
    right: 50px;
    li {
      margin-bottom: 30px;
    }
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
