#advisors {
  position: relative;
  h2 {
    padding-top: 50px;
    margin-bottom: 15px;
    color: #2E5470;
    font-size: 26px;
  }
  h3 {
    color: #2E5470;
    font-size: 26px;
  }
  h3:first-of-type{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  h4 {
    color: #55BBBB;
    margin-top: 20px;
    padding-left: 24px;
  }
  .hr-line {
    width: 170px;
  }
  .advisors-wrapper {
    margin-bottom: 30px;
    padding: 0 30px;
  }
  .advisors-list {
    list-style: none;
    color: #575B5F;
    padding-left: 30px;
  li::before {
    content: "•";
    color: #2E5470;
    position: relative;
    left: -8px;
    font-size: 20px;
    }
  }
  .advisors-last {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #advisors {
    .hr-line {
      width: 190px;
      height: 3px;
    }
    .advisors-wrapper {
      padding: 0;
    }
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
